@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


$alt-color: $white;
$body-bg-color: rgb(248, 248, 255);
$font-color: $black;
$gold: rgb(218, 165, 32);

// mine
body {
  align-items: center;
  background-color: $body-bg-color;
  justify-content: center;
  font-family: 'Berkshire Swash', cursive;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  height: 200px;
  justify-content: center;
  font-family: 'Berkshire Swash', cursive;
}

.alt-color {
  background-color: $alt-color;
}

.banner {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 200px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 90px;
  text-align: center;
  color: $gold;
}

.game-message {
  font-family: 'Berkshire Swash', cursive;
	font-size: 2rem;
	text-align: center;
	color: rgb(218, 165, 32);
}


.btn {
  margin: 10px;
}


h4 {
  display: flex;
  justify-content: center;
}

form {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  height: 95%;
  width: 45%;
}

#nav-bar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-user {
  display: flex;
}

.row {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  position: relative;
  //  border: 10px solid yellow;
}

.success {
  color: green;
  font-size: 2rem;
}

.user-signed-in {
  display: flex;
  flex-direction: column;
}

.signin-btn {
  font-size: 5rem;
  padding: 0;
}

.signup-btn {
  font-size: 5rem;
}

#sign-up-in-banner{
  font-size: 2rem;
}

.row > #vezzini {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

#vezzini{
 height: 100px;
 width: auto;
}

#wesley{
  display: flex;
 align-items: center;
 justify-content: space-between;
  box-sizing: border-box;
  height: 125px;
  width: 100px;
}
